fastapi==0.115.0
uvicorn[standard]==0.32.0
psycopg2-binary==2.9.9
pydantic==2.9.2
opencensus-ext-azure==1.1.13
opencensus-ext-fastapi==0.2.1
opencensus-ext-requests==0.8.0
opencensus-ext-postgresql==0.1.3
